<!DOCTYPE html>

<title>Hello EndPageController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/babas/Documents/Projets/24hWebCup-2025-back/src/Controller/EndPageController.php</code></li>
        <li>Your template at <code>C:/Users/babas/Documents/Projets/24hWebCup-2025-back/templates/end_page/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
